.test {
    color: red;
}

footer {
    float: right;
}

.redBackground {
    background-color: red;
}

#warning {
    color: red;
}

header {
    padding-top: 40px;
}

#display {
    padding-top: 25px;
}

h3, h1 {
    padding: 15px;
}

input  {
    padding: 15px;
}